.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 6.625rem;
  height: 3.25rem;
  padding: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--blue500);
  font-weight: 800;
  color: var(--white);
  transition: background-color 0.1s;
}

.button span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button[type='submit']:not(:disabled):hover {
  background-color: var(--blue300);
}

.button:disabled {
  cursor: not-allowed;
  opacity: 50%;
  background-color: var(--blue300);
}
